@charset "UTF-8";
.ovp-wrapper {
    position: relative;
    max-height: 100%;
    overflow: hidden;
    zoom: 1 !important;
    width: 100%;
    min-width: 426px;
    display: block;
    background-color: #000;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #eee;
    font-family: 'Noto Sans', sans-serif;
    font-size: 11px;
    line-height: 1.3;
    font-weight: normal;
    outline: 0;
}

.ovp-autohide {
    cursor: none;
}

.ovp-wrapper.ovp-fullscreen {
    height: 100% !important;
}

.ovp-wrapper:before, .ovp-wrapper:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.ovp-wrapper *, .ovp-wrapper *:before, .ovp-wrapper *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.ovp-ratio {
    padding-bottom: 56.25%; /*16:9*/
}
.ovp-player {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
.ovp-media-element-container {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

.ovp-media-element-container > *{
    width: 100%;
    height: 100%;
}

.ovp-media-element{
    width: 100%;
    height: 100%;
}
.ovp-ui {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

/*spinner*/
.ovp-spinner-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -moz-transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
    -webkit-transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
    transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
}

.ovp-spinner-active {
    opacity: 0.75;
}

.ovp-spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin-top: -30px;
    margin-left: -30px;
    color: #fff;
    text-align: center;
    font-size: 60px;
    /*display: none;*/
    text-shadow: 0 0 2px rgba(0,0,0,.5);
}

.ovp-spinner-active .ovp-spinner {
    -webkit-animation: a 2s infinite linear;
    animation: a 2s infinite linear;
}

/*captionviewer*/
.ovp-caption-viewer {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ovp-caption-active .ovp-caption-viewer {
    display: block;
}

.ovp-caption-text-container {
    position: absolute;
    bottom: 60px;
    width: 100%;
    padding: 0 12px;
    text-align: center;
    -moz-transition: bottom .25s cubic-bezier(0.0,0.0,0.2,1);
    -webkit-transition: bottom .25s cubic-bezier(0.0,0.0,0.2,1);
    transition: bottom .25s cubic-bezier(0.0,0.0,0.2,1);
}

.ovp-autohide .ovp-caption-text-container {
    bottom: 25px;
}

.ovp-caption-text {
    display: none;
    font-size: 220%;
    background-color: rgba(8, 8, 8, 0.75);
    border-radius: 3px;
    color: #fff;
    padding: .1em .3em;
    word-wrap: break-word;
    line-height: 1.5em;
    user-select: none;
}

/*messagebox*/
.ovp-message-box {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ovp-message-box-active {
    display: block;
}

.ovp-message-container {
    position: absolute;
    top: 60px;
    width: 100%;
    padding: 0 12px;
    text-align: center;
}

.ovp-message-text {
    font-size: 140%;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    padding: .1em .3em;
    word-wrap: break-word;
    line-height: 1.5em;
}

/*BigButton*/
.ovp-bigbutton-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ovp-bigbutton {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    margin-top: -40px;
    margin-left: -40px;
    color: #F36446;
    text-align: center;
    display: none;
    opacity: 1;
}

.ovp-bigbutton-play {
    background: url('../assets/images/ic-player-play-large.svg');
    background-size: 100%;
}

.ovp-bigbutton-pause {
    background: url('../assets/images/ic-player-stop-large.svg');
    background-size: 100%;
}

/*setting panel*/
.ovp-setting-panel {
    display: none;
    position: absolute;
    bottom: 55px;
    right: 12px;
    width: 33%;
    max-width: 260px;
    font-size: 120%;
    user-select: none;
    background-color: rgba(28,28,28,.9);
    text-shadow: 0 0 2px rgba(0,0,0,.5);
}

.ovp-setting-title,
.ovp-setting-item {
    width: 100%;
    height: 38px;
    line-height: 38px;
    color: #eee;
    cursor: pointer;
    outline: none;
}

.ovp-setting-item:hover {
    background-color: rgba(255,255,255,.1);
}

.ovp-setting-title-title {
    padding-left: 12px;
}

.ovp-setting-title-previcon {
    padding: 0 0 0 12px;
    margin-right: -6px;
}

.ovp-setting-item-title {
    padding-left: 12px;
}

.ovp-setting-item-value {
    float: right;
    padding-right: 12px;
}

.ovp-setting-item-nexticon {
    float: right;
    padding-right: 12px;
    margin-left: -6px;
}

.ovp-setting-item-value .ovp-setting-item-title {
    margin-left: -6px;
}
.ovp-setting-item-checked {
    padding-left: 12px;
    visibility: hidden;
}

/*components*/
.ovp-button {
    display: inline-block;
    border: none;
    background: transparent;
    padding: 0;
    color: inherit;
    text-align: inherit;
    overflow: hidden;
    font-weight: 100;
}

.ovp-gradient-top, .ovp-gradient-bottom {
    width: 100%;
    position: absolute;
    background-color: #12121c;
    pointer-events: none;
    opacity: 0.3;
    -moz-transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
    -webkit-transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
    transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
}

.ovp-gradient-bottom {
    height: 50px;
    bottom: 0;
    z-index: 22;
}

.ovp-autohide .ovp-gradient-top, .ovp-autohide .ovp-gradient-bottom  {
    opacity: 0;
}


.ovp-button:focus, .ovp-button {
    outline: 0;
}
/*bottompanel*/
.ovp-bottom-panel {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 50px;
    z-index: 60;
}

.ovp-bottom-panel {
    -moz-transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
    -webkit-transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
    transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
}

.ovp-autohide .ovp-bottom-panel {
    opacity: 0;
}

/*.ovp-on-error .ovp-bottom-panel {
    display: none;
}*/

/*progress bar*/
.ovp-progressbar-container {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 50px;
    height: 4px;
    cursor: pointer;
}

.ovp-live .ovp-progressbar-container {
    display: none;
}

.ovp-autohide .ovp-progressbar-container{
    cursor: none;
}

.ovp-progressbar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 31;
    outline: none;
}

.ovp-progressbar-padding {
    position: absolute;
    width: 100%;
    height: 16px;
    bottom: 0;
    z-index: 28;
}

.ovp-progress-list {
    position: relative;
    height: 100%;
    background: rgba(255,255,255,0.2);
    z-index: 39;
/*    -moz-transform: scaleY(0.6);
    -ms-transform: scaleY(0.6);
    -webkit-transform: scaleY(0.6);
    transform: scaleY(0.6);
    -moz-transition: -moz-transform .1s cubic-bezier(0.4,0.0,1,1);
    -webkit-transition: -webkit-transform .1s cubic-bezier(0.4,0.0,1,1);
    -ms-transition: -ms-transform .1s cubic-bezier(0.4,0.0,1,1);
    transition: transform .1s cubic-bezier(0.4,0.0,1,1);*/
}

/*.ovp-progressbar-hover .ovp-progress-list {
    -moz-transform: none;
    -ms-transform: none;
    -webkit-transform: none;
    transform: none;
    -moz-transition: -moz-transform .1s cubic-bezier(0.0,0.0,0.2,1);
    -webkit-transition: -webkit-transform .1s cubic-bezier(0.0,0.0,0.2,1);
    -ms-transition: -ms-transform .1s cubic-bezier(0.0,0.0,0.2,1);
    transition: transform .1s cubic-bezier(0.0,0.0,0.2,1);
}*/

.ovp-load-progress,
.ovp-play-progress,
.ovp-hover-progress {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0
}

.ovp-load-progress {
    width: 0;
    z-index: 33;
    background-color: rgba(255,255,255,.5);
}

.ovp-play-background-color {
    background-color: #50e3c2;
}

.ovp-play-progress {
    width: 0;
    z-index: 34;
}

.ovp-hover-progress {
    left: 0;
    width: 0;
    z-index: 35;
    background-color: rgba(255,255,255,.6);
}

.ovp-progressbar-knob-container {
    position: absolute;
    top: -5px;
    left: 0px;
    z-index: 43;

    -moz-transition: -moz-transform .1s cubic-bezier(0.4,0.0,1,1);
    -webkit-transition: -webkit-transform .1s cubic-bezier(0.4,0.0,1,1);
    -ms-transition: -ms-transform .1s cubic-bezier(0.4,0.0,1,1);
    transition: transform .1s cubic-bezier(0.4,0.0,1,1);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
}

.ovp-progressbar-hover .ovp-progressbar-knob-container {
    -moz-transform: none;
    -ms-transform: none;
    -webkit-transform: none;
    transform: none;
    -moz-transition: -moz-transform .1s cubic-bezier(0.0,0.0,0.2,1);
    -webkit-transition: -webkit-transform .1s cubic-bezier(0.0,0.0,0.2,1);
    -ms-transition: -ms-transform .1s cubic-bezier(0.0,0.0,0.2,1);
    transition: transform .1s cubic-bezier(0.0,0.0,0.2,1)
}

.ovp-progressbar-knob {
    width: 14px;
    height: 14px;
    border-radius: 7px;
}

.ovp-progressbar-time {
    display: none;
    position: absolute;
    bottom: 15px;
    left: 0;
    width: auto;
    background-color: rgba(28,28,28,0.9);
    border-radius: 2px;
    padding: 5px 9px;
    font-size: 118%;
    line-height: 15px;
    user-select: none;
}

.ovp-progressbar-hover .ovp-progressbar-time {
    display: inline-block;
}

.ovp-on-error .ovp-progressbar-time {
    display: none;
}

/*contols container*/
.ovp-controls-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: left;
}

.ovp-left-controls {
    float: left;
    height: 100%;
}

.ovp-right-controls {
    float: right;
    height: 100%;
}

.ovp-controls-container .ovp-button {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.ovp-autohide .ovp-controls-container .ovp-button {
    cursor: none;
}

/*play buttons*/
.ovp-play-button  {
    position: relative;
    top: 10px;
    margin-left: 15px;
}

.ovp-play-button > i {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-size: 100%;
}

.ovp-play-button-playicon {
    background: url('../assets/images/ic-player-play.svg');
}

.ovp-play-button-pauseicon {
    background: url('../assets/images/ic-player-stop.svg');
}


/*volume controller*/
.ovp-volume-controller {
    display: inline-block;
    position: relative;
    top: 10px;
    margin-left: 12px;
    height: 30px;
}

.ovp-volume-button {
    
}

.ovp-volume-button > i {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-size: 100%;
}

.ovp-volume-button-bigicon {
    background: url('../assets/images/ic-player-volume.svg');
}

.ovp-volume-button-smallicon {
    background: url('../assets/images/ic-player-volume.svg');
}

.ovp-volume-button-muteicon {
    background: url('../assets/images/ic-player-volume-mute.svg');
}

.ovp-volume-slider-container {
    display: inline-block;
    position: relative;
    width: 0px;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    outline: none;

    -moz-transition: margin .2s cubic-bezier(0.4,0.0,1,1),width .2s cubic-bezier(0.4,0.0,1,1);
    -webkit-transition: margin .2s cubic-bezier(0.4,0.0,1,1),width .2s cubic-bezier(0.4,0.0,1,1);
    transition: margin .2s cubic-bezier(0.4,0.0,1,1),width .2s cubic-bezier(0.4,0.0,1,1);
}

.ovp-volume-slider-container-active {
    width: 70px;
    margin-left: 8px;
    margin-right: 0;
    -moz-transition: margin .2s cubic-bezier(0.0,0.0,0.2,1),width .2s cubic-bezier(0.0,0.0,0.2,1);
    -webkit-transition: margin .2s cubic-bezier(0.0,0.0,0.2,1),width .2s cubic-bezier(0.0,0.0,0.2,1);
    transition: margin .2s cubic-bezier(0.0,0.0,0.2,1),width .2s cubic-bezier(0.0,0.0,0.2,1)
}

.ovp-volume-silder {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.ovp-volume-slider-handle {
    position: absolute;
    top: 50%;
    left: 30px;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    margin-top: -6px;
    background: #fff;
}

.ovp-volume-slider-handle:before, .ovp-volume-slider-handle:after {
    content: '';
    position: absolute;
    display: none;
    top: 50%;
    height: 4px;
    margin-top: -2px;
    width: 80px;
    z-index: -1;
}

.ovp-volume-slider-handle:before {
    left: -58px;
    background: #50e3c2;
}

.ovp-volume-slider-handle:after {
    left: 6px;
    background: #fff;
}

.ovp-volume-slider-bg, .ovp-volume-slider-value {
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
    height: 4px;
    margin-top: -2px;
    border-radius: 10px;
}

.ovp-volume-slider-bg {
    width: 100%;
    background: #fff;
}

.ovp-volume-slider-value {
    width: 100%;
    background: #50e3c2;
}

.ovp-time-display {
    display: inline-block;
    position: relative;
    top: 10px;
    margin-left: 12px;
    height: 30px;
    white-space: nowrap;
    line-height: 30px;
    vertical-align: top;
    font-size: 14px;
    user-select: none; /*흠 이부분 어떻게 처리하지*/
}

.ovp-time-current,
.ovp-time-separator,
.ovp-time-duration {
    color: #fff;
}

.ovp-live-badge {
    opacity: 1;
    width: auto;
    display: none;

}

.ovp-live-badge:before {
    background: #ff0000;
    display: inline-block;
    position: relative;
    top: -2px;
    width: 6px;
    height: 6px;
    margin-right: 5px;
    content: '';
    border-radius: 6px;
}

.ovp-live .ovp-time-current,
.ovp-live .ovp-time-separator,
.ovp-live .ovp-time-duration {
    display: none;
}

.ovp-live .ovp-live-badge {
    display: inline-block;
    width: auto;
    font-size: 14px;
}

.ovp-live-badge-lowlatency {
    display: none;
}

.ovp-live-lowlatency .ovp-live-badge-lowlatency {
    display: inline-block;
    margin-right: 5px;
}

/*caption button*/

.ovp-caption-button {
    width: 36px;
}

.ovp-caption-button > i {
    font-size: 18px;
    -moz-transition: color .25s cubic-bezier(0.0,0.0,0.2,1);
    -webkit-transition: color .25s cubic-bezier(0.0,0.0,0.2,1);
    transition: color .25s cubic-bezier(0.0,0.0,0.2,1);
}

.ovp-caption-active .ovp-caption-button > i {
    color: #F36446;
}

/*setting button*/
.ovp-setting-button {
    position: relative;
    top: 10px;
    margin-right: 12px;
}

.ovp-setting-button > i{
    display: inline-block;
    width: 100%;
    height: 100%;
    background-size: 100%;

}

.ovp-setting-button-icon {
    background: url('../assets/images/ic-player-setting.svg');
}

/*.ovp-settings-shown .ovp-setting-button > i{
    color: #F36446;
}*/

/*context panel*/
.ovp-context-panel {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: none;
    position: absolute;
    overflow: hidden;
    width: 200px;
    padding: 6px 0;
    background: rgba(28,28,28,0.9);
    text-shadow: 0 0 2px rgba(0,0,0,.5);
    z-index: 2300;
    font-family: Roboto,Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: 100;
    user-select: none;
}

.ovp-context-panel:before, .ovp-context-panel:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.ovp-context-panel *, .ovp-context-panel *:before, .ovp-context-panel *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.ovp-context-panel-active {
    display: block;
}

.ovp-context-item {
    width: 100%;
    height: 38px;
    padding-left: 12px;
    line-height: 38px;
    color: #eee;
    cursor: pointer;
    outline: none;
    font-size: 120%;
}

.ovp-context-item:hover {
    background-color: rgba(255,255,255,.1);
}


/*full screen button*/
.ovp-fullscreen-button {
    position: relative;
    top: 10px;
    margin-right: 15px;
}

.ovp-fullscreen-button > i{
    display: inline-block;
    width: 100%;
    height: 100%;
    background-size: 100%;
}

.ovp-fullscreen-button-expandicon {
    background: url('../assets/images/ic-player-fullscreen-expand.svg');
}

.ovp-fullscreen .ovp-fullscreen-button-expandicon {
    display: none;
}

.ovp-fullscreen-button-compressicon {
    display: none;
    background: url('../assets/images/ic-player-fullscreen-compress.svg');
}

/*.ovp-fullscreen .ovp-fullscreen-button-compressicon {
    display: inline-block;
}*/

/*lowlatency panel*/
.ovp-lowlatency-info-panel {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ovp-autohide.ovp-live-lowlatency .ovp-lowlatency-info-panel {
    display: block;
}

.ovp-autohide.ovp-live-lowlatency.ovp-on-error .ovp-lowlatency-info-panel {
    display: none;
}

.ovp-lowlatency-info-container {
    position: absolute;
    display: inline-block;
    top: 25px;
    left: 30px;
    padding: 0 15px;
    background-color: rgba(18,18,28,0.3);
    animation:fade 2000ms infinite;
    border-radius: 4px;
}

.ovp-lowlatency-info-text {
    display: inline-block;
    font-size: 14px;
    line-height: 30px;
    color: #fff;
    word-wrap: break-word;
}

@keyframes fade {
    from { opacity: 0.3; }
    /*5% { opacity: 0.3; }*/
    /*40% { opacity: 1; }*/
    /*50% { opacity: 1; }*/
    55% { opacity: 1; }
    75% { opacity: 1; }
    to { opacity: 0.3; }
}                                                                                                                
